body{
    padding: 0px;
    margin: 0px;
    background-color: gainsboro;
}
.background{
    width: auto;
    height: 800px;
    background-image: url('/assets/img/black-wallpaper-15.jpeg');
    border-radius: 10px;
    object-fit: cover;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: yellowgreen;
}
.imge{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    background-image: url(/assets/img/Снимок\ экрана\ 2022-04-28\ в\ 11.01.44.png);
    object-fit: contain;
    background-size: cover;
}
.text{
    width: 200px;
    height: 200px;
}
.feedback{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}